<%- model_class = Product -%>
<div class="page-header">
  <div class="pull-right">

    <%= link_to t('.new', :default => "New Product"),new_product_path,:class => 'btn btn-primary new-product-btn' %>
    <%= link_to "Import Product", "javascript:;", class: "btn btn-info submit-product-import" %>
    <%= form_tag import_products_path, multipart: true, id: "product-form" do %>
      <%= file_field_tag :file, class: "product-import" %>
    <% end %>
  </div>
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:gst) %></th>
      <th><%= model_class.human_attribute_name(:unit) %></th>
      <th><%= model_class.human_attribute_name(:rate) %></th>
      <th><%= model_class.human_attribute_name(:discount) %></th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%= model_class.human_attribute_name(:final_amount) %></th>
      <th><%= model_class.human_attribute_name(:single_price_rate) %></th>
      <th colspan="3"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.description %></td>
        <td><%= product.gst %></td>
        <td><%= product.unit %></td>
        <td><%= product.rate %></td>
        <td><%= product.discount %></td>
        <td><%= product.amount %></td>
        <td><%= product.final_amount %></td>
        <td><%= product.single_price_rate %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      product_path(product), :class => 'btn btn-default btn-xs' %>
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_product_path(product), :class => 'btn btn-default btn-xs' %>
        </td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      product_path(product),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

